html {
    height: 100%;
    width: 100%;
    display: flex;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    display: flex; 
    background: linear-gradient(to right, #6994c0 50%, #00909e);
}
#chat-container {
    height: 95%;
    width: 75%;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #142850;
    justify-content: space-around;

}

#page {
    filter: blur(10px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#login-container {
    position: absolute;
    height: 36%;
    display: flex;
    justify-content: center;
    width: 37%;
    align-items: center;
    background-color: #dae1e7;
    text-align: center;
    border-radius: 25px;
    border: solid 2px;
}

#small-container {
    height: 95%;
    width: 20%;
    background-color: #142850;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#online {
    height: 30%;
    width: 90%;
    background-color: #27496d;
    overflow: auto;
    border-radius: 25px;
}

#rooms {
    height: 47%;
    width: 90%;
    background-color: #27496d;
    overflow: auto;
    border-radius: 25px;
    margin-bottom: 3px;
}

#private-room {
    height: 20%;
    width: 90%;
    background-color: #27496d;
    overflow: auto;
    border-radius: 25px;
    margin-bottom: 8px;
}

.onlineAndRooms {
    font-size: 22px;
    color: #dae1e7;
    margin-top: 1px 0px;
    font-family: 'Raleway', sans-serif;
}

#new-room-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    top: 6px;
}

#check-password-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    top: 6px;
}

#new-room {
    font-size: 16px;
    font-weight: 700;
    border: #222831 25p;
    border-radius: 25px;
    background-color: #222831;
    padding-left: 6;
    color: #dae1e7;
}

#new-room-name {
    width: 50%;
}

#create-room {
    font-weight: 900;
    border-radius: 5px;
    background-color: #222831;
    color: #dae1e7;
    margin-top: 6px;
    font-family: 'Josefin Sans', sans-serif;
}

#confirm {
    font-weight: 900;
    border-radius: 5px;
    background-color: #222831;
    color: #dae1e7;
    margin-top: 6px;
    font-family: 'Josefin Sans', sans-serif;
}

#text-container {
    text-align: left; 
    background-color: #dae1e7;
    height: 6%;
    width: 95%;
    border-radius: 25px;
    display: flex;
}

#chat-log {
    height: 70%;
    width: 95%;
    border-radius: 25px;
    background-color: #27496d;
    overflow: auto;
}

#roomName {
    color: #dae1e7;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
}

#login-chat {
    margin: 16%;
    height: 30px;
    width: 70px;
    border-radius: 25px;
    font-weight: 900;
}

#user-text {
    margin: auto 25px;
    text-align: left;
}

#user-text::placeholder {
    margin: auto 25px;
}

input[type="text"]::placeholder {  
                  
text-align: center;
}

#send {
    font-weight: 900;
    border-radius: 5px;
    background-color: #222831;
    color: #dae1e7;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    height: 60%;
    width: 10%;
}

#user-text {
    width: 80%;
}

h2 {
    display: inline-block;
    margin: 2px 15px 0;
    font-size: larger;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    display: block;
    margin: 2px 15px 0;
    font-size: larger;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    display: inline-block;
    font-size: medium;
    color: #dae1e7;
}

h3 {
    display: inline-block;
    margin-left: auto;
    padding-right: 10px;
}

.msg {
    display: flex;
    align-items: center;
}

input {
    text-align: center;
    font-weight: 600;
}